.primary, .secondary {
  position: absolute;
  z-index: 2;
  top: 210px;
}


@media (min-width: 992px) {
  .primary {
    position: absolute;
    left: 310px;
  }
  .secondary {
    left: 550px;
  }
}