.picker, .primary {
  position: absolute;
  z-index: 2;
  top: 210px;
  left: 310px;
}

.secondary {
  left: 550px;
}

@media (max-width: 992px) {
.picker {
   left: 50px;
  }

  .secondary {
    top: 275px;
  }
}