.textInput {
  display: flex;
  width: inherit;
  flex-grow: 1;
  align-items: center;
  outline: none;
  background: #fff;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  box-shadow: none;
  border: solid 1px #8a8989;
  border-right: none;
  transition-property: box-shadow, border;
  height: inherit;
}

.textInput input {
  box-sizing: border-box;
  border: none;
  outline: none;
  font-size: 1.1rem;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  min-width: 0;
}

.textInput input:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.error {
  border-color: #dc3545;
}