.paletteBox {
  height: 224px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
}

.duo{
  width: 840px;
}

.paletteBox> :first-child {
  border-radius: 7px 0 0 7px;
}

.paletteBox> :last-child {
  border-radius: 0 7px 7px 0;
}

@media (max-width: 992px) {
  .paletteBox {
    padding: 0 1rem;
    flex-flow: column nowrap;
    margin: 3rem 0 0;
    width: 100%;
    height: 400px;
  }

  .duo {
    height: 640px;
    margin-top: 7rem;
  }

  .paletteBox> :first-child {
    border-radius: 7px 7px 0 0;
  }

  .paletteBox> :last-child {
    border-radius: 0 0 7px 7px;
  }
}