/*
  This comment is necessary to fix build CSS ordering bug.
  https://github.com/vercel/next.js/issues/16630#issuecomment-1037305875
*/

:root {
  --main-colour: rgb(243, 89, 107);
  --heading-dark: rgb(245, 116, 131);
  --footer-dark: hsl(353, 68%, 59%);
}

body {
  transition: all 0.2s ease-in-out;
  
}

body.dark {
  background-color: #353535;
  color: #f2f2f2;

}

.html {
  width: 100%;
}

#__next {
  position: relative;
  min-height: 100vh;
}

.container-fluid {
  padding: 0 5%;
}

.content-wrap {
  padding-bottom: 75px;
}

button.navbar-toggler {
  outline: none;
  border: none;
}

button.navbar-toggler:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.theme-switch {
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: none;
  scale: 0.6;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.heading {
  padding: 2rem 0 0;
  margin-bottom: 0;
  color: var(--main-colour);
  text-align: center;
  line-height: 2.5rem;
  transition: color 0.2s ease-in-out;
}

.dark .heading {
  color: var(--heading-dark);
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 45px;
  background: var(--main-colour);
  transition: background-color 0.2s ease-in-out;
}

.footer>p {
  margin: 0;
  color: white;
  font-size: 0.9rem;
}

.dark .footer {
  background-color: var(--footer-dark);
}

.download-btn {
  text-align: center;
  margin: 2rem 0 0;
}