.inputGroup {
  flex-wrap: nowrap;
  top: -0.5rem;
  align-items: center;
}

.inputGroup input {
  border: none;
  outline: none;
  font-size: 1.1rem;
  margin-right: auto;
  margin-left: auto;
  min-width: 0;
}

.hexInput {
  margin: 30px auto auto;
  outline: none;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  box-shadow: none;
  border: solid 1px #8a8989;
  transition-property: box-shadow, border;
}

.error {
  border-color: #dc3545;
  box-shadow: 0 0 3px #dc5635;
}

.inputBarBtn {
  padding: 0;
  border: none;
  background-color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
}

.colorPickerBtn {
  margin-right: 0.5rem;
}

.formText {
  margin: 0;
  font-size: 0.8rem;
}